<div class="container">
    <div class="car-card" *ngFor="let car of cars">
        <div nz-row class="car-row">
            <div nz-col nzSpan="8" class="car-image-container">
                <img class="car-image" [src]="car.processedImg" alt="Car Image" />
            </div>
            <div nz-col nzSpan="16" class="car-details">
                <h2 class="car-title">
                    {{ car.brand }} - {{ car.modelName }}
                </h2>
                <hr>
                <h5 class="car-info">
                    Price: <b>₹{{ car.rentalPrice }}</b> - 
                    Color: <b>{{ car.color }}</b> - 
                    Transmission: <b>{{ car.transmission }}</b> - 
                    Type: <b>{{ car.fuelType }}</b>
                </h5>
                <hr>
                <div class="delete-container">
                    <button class="delete-btn" (click)="deleteCar(car.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
